.chart-plot-background {
    -fx-background-color: transparent;
}
.default-color0.chart-series-line {
    -fx-stroke: blue;
}
.default-color0.chart-line-symbol {
    -fx-background-color: blue, white;
}

.chart-bar {
    -fx-bar-fill: #22bad9;
    -fx-background-color: linear (0%,0%) to (0%,100%)
stops (0%, derive(-fx-bar-fill,-30%))
(100%, derive(-fx-bar-fill,-40%)),
linear (0%,0%) to (0%,100%)
stops (0%, derive(-fx-bar-fill,80%))
(100%, derive(-fx-bar-fill, 0%)),
linear (0%,0%) to (0%,100%)
stops (0%, derive(-fx-bar-fill,30%))
(100%, derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}